<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title or "Vidlogue" }}</title>

    <!-- Tailwind & Socket -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
</head>

<body class="flex flex-col bg-gradient-to-br from-indigo-50 via-rose-50 to-sky-50 h-screen text-gray-900 antialiased">

    <!-- Navbar (fixed at top) -->
    {% include 'navbar.html' %}

    <!-- Main (scrollable center section) -->
    <main class="flex-1 mx-auto p-6 md:p-10 w-full max-w-5xl overflow-y-auto">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer (fixed at bottom) -->
    {% include 'footer.html' %}
</body>

</html>